<div class="wrapper">
  <%= render 'shared/navbar' %>
</div>







































<%# @foods.each do |food| %>
  <%#= food.name %>
  <%#= image_tag("#{food.image_url}", :alt => "#{food.name}") %>
<%# end %>
