.navbar {
  height: 100px;
  padding-top: 0px;
  border-bottom: 1px solid gray;
}

.navbar__left {
  display: flex;
  align-items: center;
}

.navbar__left img {
  height: 100px;
  width: 100px;

}

.user__sign-in {
  display: flex;
  color: #786259;
  font-family: "Montserrat", sans-serif;
}


.user__sign-in__text {
  padding-left: 13px;
  margin-top: 7px;
}


.navbar__right {
  display: flex;
  align-items: center;
  margin-top: 13px;
}

.list__action ul {
  display: flex;
  list-style-type: none;
  margin-right: 50px;
  color: #441400;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.list__action ul li {
  padding: 0 10px;
  letter-spacing: 0.5px;
}

.find__burger-snack {
  display: flex;
}

.link p {
  background-color: #441400;
  padding: 5px 15px;
  border-radius: 50px;
}

.link a {
  color: #FFFFFF;
}

.order {
  margin: 0 15px;
  color: #441400;
}

